body{
    height: 1000px;
    width: 100%;
}

#header-box {
    margin: 20px;
    box-sizing: border-box;
    /* background-color: aqua; */
    border: 5px solid black;
    height: 250px;
    width: 98vw;
    position: relative;
    align-items: flex-end;
    padding: 20px;
}

#green-box {
    background-color: green;
    height: 200px;
    width: 400px;
    margin: 0 50px;
    display: inline-block;
}

#purple-box {
    background-color: rgb(105, 45, 128);
    height: 150px;
    width: 50px;
    display: inline-block;
}

#blue-circle {
    background-color: aqua;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: inline-block;
}

#dotted-outline {
    margin: 20px;
    box-sizing: border-box;
    /* background-color: aqua; */
    border: 5px dotted;
    height: 250px;
    width: 98vw;
    position: relative;
}

#tan-shaded {
    background-color: beige;
    height: 75%;
    width: 95%;
    margin: 30px 40px;
    box-shadow: 5px 5px 5px;
}

#light-outline {
    height: 250px;
    width: 40%;
    margin: auto;
    border: 1px solid grey;
    box-shadow: 1px 1px 1px rgb(175, 172, 172);
    display: flex;
    align-items: center;
    justify-content: center;
}
#friendly-box {

    color: blue;
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}